@import '../../colors/colors'

$colorTooltipBorder = black
$colorTooltipBackground = white
$colorTooltipText = blue

.hideBox
    display none !important

.overheadTooltip
    padding 20px
    color $colorTooltipText
    border 1px solid $colorTooltipBorder
    background-color $colorTooltipBackground
    margin-bottom 20px
    border-radius 5px
    box-shadow 1px 2px 5px 0px rgba(0, 0, 0, 0.1)
    background white
    width 200px
    position absolute
    top 0px
    margin-top -78px

.overheadTooltipAbove:after
    content ''
    transform translateX(-50%)
    border 8px solid white
    border-width 10px
    position absolute
    z-index 100
    border-color white transparent transparent transparent
    top calc(100% - 1px)
    margin-left -41px

.overheadTooltipAbove:before
    content ''
    transform translateX(-50%)
    border 8px solid white
    border-width 10px
    position absolute
    z-index 100
    border-color black transparent transparent transparent
    top 100%
    margin-left 20px
