@import '../../colors/colors'

.container
    background-color background
    color textWhite
    padding 50px
    text-align center

.title
    margin-bottom 50px

.buttonContainer > div > button
    margin 0px 50px

.buttonContainer > div
    display inline-block